@font-face {
  font-family: "tropiline";
  src: url(../../../public/Tropiline/Tropiline-Light.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "tropiline", sans-serif !important;
  background-color: #F5F4F9;
  padding: 0;
  margin: 0;
}

.myVideo {
  position: static;
  right: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: t;
  background-color: #383838;
  z-index: 999;
  /* height: 150vh */
}

.navigation .nav-content .nav{
  position: absolute;
  min-width: 100%;
  top: 0; 
}

/* dropdown style for bootstrap */

.dropbtx{
  cursor: pointer;
  margin-top: 20px;
}

.dropbtx span{
  width: 40px;
  height: 2px;
  margin-top: 5px;
  background-color: white;
  display: block;
}

.user-information{
  color: white;
}

.user-information h5{
  text-align: left;
}

.user-information .loggedin{
  background-color: #383838;
  padding: 10px 0;
  border-radius: 5px;
}

.user-information .loggedin p{
  margin-bottom: 0;
}

.user-information .loggedin li{
  margin-top: 10px;
}

.user-information .loggedin li .loggedli{
  background-color: white;
  padding: 8px 25px;
  border-radius: 5px;
  margin-right: 10px;
  color: #383838;
}

.user-information .not-loggedin{
  display: flex;
}

.user-information .not-loggedin li{
  background-color: #383838;
  color: white !important;
  margin: 0 1rem;
  padding: 10px 25px;
  border-radius: 5px;
}

.user-information .services li{
  background-color: #383838;
  color: white !important;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 20px;
  text-align: left;
}

.user-information .nav-links{
  color: white;
}

.user-information .services li i{
  margin-right: 1rem;
  font-size: 1rem;
}


/*  ------------ drop style from bootstrap */


.nav-content {
  position: absolute;
  top: 0;
  width: 100%;
}

.navigation {
  position: relative;
  width: 100%;
  height: 50vh;
}

.logo-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 0.5rem 0;
}

.nav li {
  list-style: none;
}

/* .nav ul {
  display: flex;
} */

.main-actions{
  margin-top: 1.3rem;
  padding: 1.5rem;
  border-radius: 5px;
}

.banner-content {
  position: absolute;
  width: 100%;
  margin-top: 7rem;
  /* clear: both; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-text h1 {
  font-size: 2.5rem;
  color: #fff;
}

.welcome-text h4 {
  color: #f3f2ef;
}

.welcome-text .main-action{
  margin-right: .3rem;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: .5rem;
  background-image: linear-gradient(135deg, #EF310E 40%, #E71874);
  padding: .8rem;
}

.welcome-text .main-action:focus{
  border: none;
  box-shadow: none;
  outline: none;
}

.welcome-text .main-action:hover{
  background-color: transparent;
  background-image: none;
  border: 1px solid white;
}

.welcome-text .main-action:active{
  box-shadow: none;
}

/* ----------------------- content container --------------------------- */

.content-container{
  position: relative;
}

.content-container .who-we-are{
  border-radius: 5px;
  padding: 1.3rem .5rem;
  background-color: #383838;
  color: white;
  margin-bottom: 3rem;
}

.content-container .who-we-are h1, .content-container .who-we-are h6{
  color: white
}



.body-content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.body-content h6{
  font-weight: bold;
}

.body-content .first-child{
  display: flex;
  font-size: 12px;
  width: 400px;
  text-align: left;
}

.body-content .first-child p{
  text-align: justify;
}

.body-content .second-child .why-us{
  background-color: white;
  display: flex;
  padding: 1rem 1rem;
  margin: .5rem 0;
  border-radius: 5px;
  color: black;
}

.body-content .second-child .why-us span{
  text-align: justify;
}

.body-content .second-child .why-us i{
  font-size: 20px;
  margin-right: .5rem;
  color: rgb(226, 48, 54);
  font-weight: bold;
}


/* ----------------------- content container --------------------------- */

/* ------------------------- reviews ----------------------------------- */

.swiper{
  width: 800px;
}

.swiper-content{
  width: 69%;
}


.reviews{
  background-color: white;
  padding: 2rem 1rem;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  /* margin: .5rem 0; */
}

.reviews img{
  width: 80px;
  height: 80px;
  margin: 2rem 0;
  border-radius: 50%;
  border: 5px solid white;
}

/* ------------------------- reviews ----------------------------------- */


/* ------------------------- experience ----------------------------------- */

.customer-reviews{
  margin: 1.5rem 0;
}

.works-container{
  display: flex;
  justify-content: center;
}

.works{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
  grid-gap: 1rem 0;
}

.work{
  width: 305px;
  height: 350px;
  border-radius: 5px;
  position: relative;
}

.work img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.work .works-text{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: blue;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.action-flex{
  display: flex;
  justify-content: space-around;
}

.action-flex i{
  font-size: 20px;
  color: white;
  cursor: pointer;
  background-color: #0D6efd;
  padding: .8rem 1.5rem;
  border-radius: 5px;
}

.work:hover .works-text{
  display: block;
  /* transform: scale(1.1); */
}


/* ------------------------- experience ----------------------------------- */

/*  ------------ About eversion */

.about-eversion{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.about-eversion .about-container{
  background-color: #383838;
  border-radius: 8px;
  width: 1200px;
  padding: 20px 200px;
  color: white;
}

.about-container h1{
  color: white;
}

.about-eversion .about-container p{
  text-align: justify;
}

.about-body{
  display: flex;
  margin-right: 1rem;
}

.about-img img{
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

/*  ------------ About eversion */


/*  ------------ Faq */
.faq{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.faq-container{
  width: 900px;
}

.faq-container p{
  text-align: justify;
}


/*  ------------ Faq */


/*  ------------ Footer ---------------- */
footer .footer{
  background-color: #000;
  margin-top: 3rem;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .icons i{
  color: white;
  background-color: #383838;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.footer h5{
  color: white;
}

.footer .eversion-copy{
  background-color: orange;
  padding: 10px 0;
  color: #383838;
}

/*  ------------ Footer ---------------- */














@media screen and (max-width: 378px){
  .body-content .first-child{
    width: 280px !important;
  }

  .swiper{
    width: 280px !important;
  }
}


@media screen and (max-width: 430px){

  .nav {
    justify-content: space-between;
    padding-right: 1rem;
  }

  .banner-content {
    margin-top: 9rem;
  }

  .myVideo {
    height: 70vh;
  }

  .welcome-text h1 {
    font-size: 2rem;
  }

  .welcome-text h4 {
    font-size: .8rem;
  }

  .welcome-text .main-action{
    margin-right: .3rem;
    font-size: .8rem;
    margin-top: .5rem;
    padding: .8rem;
  }

  .body-content .first-child{
    margin-bottom: 2rem;
    width: 350px;
    margin-left: .2rem;
  }

  .body-content{
    flex-direction: column;
  }

  .swiper{
    width: 400px;
  }

  .works{
    grid-template-columns: 1fr;
  }

  .work{
    width: 100% ;
  }

  .about-eversion .about-container{
    width: 100vw;
    margin: 10px;
    padding: 10px 10px;
  }

  .about-img img{
    width: 100%;
    margin-right: 1rem;
  }

  .about-body{
    flex-direction: column;
  }

  .faq-container{
    width: 100vw;
    margin: 10px;
  }
}