.upload .container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 60%;
    width: 600px;
}

/* .uploads{
    display: flex;
    flex-direction: column;
} */

/* .upload .eversion-container{
    background-color: red !important;
    width: 50vw !important;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 400px;
} */

.upload label, .book label {
    display: block;
    text-align: left;
    margin: .9rem 0 0 2%;
    font-size: 14px;
    font-weight: bold;
}

.upload .form-name {
    margin: 1rem 0 0 0;
}

/* file upload component */

.file-upload {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.file-upload .upload-btn {
    margin-top: 8;
    border: 1px dashed blue;
    cursor: pointer;
    width: 100px;
    padding: 1.2rem;
}

.file-upload div {
    margin: 5px;
}

.file-upload img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

/* file upload component */

.upload .form-name div {
    margin: 0 1%;
    min-width: 48%;
}

.upload .form-name input {
    min-width: 100%;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #ddd;
    border: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=submit]{
    background-color: #383838;
    font-size: .8rem;
    box-shadow: none;
    color: white;
}

/* Book special css starts here */
.book .container-form{
    margin-top: 3rem;
    width: 800px;
}

.book .forms-info img{
    position: sticky;
    margin-right: .5rem;
    object-fit: cover;
    border-radius: 5px;
    width: 380px;
    height: 400px;
}

.forms {
    width: 100% ;
}

.signup-inputs .form-name{
    margin: 0;
}
 
.form-name select, .street select{
    width: 100% ;
    border: none;
    padding: 10px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #ddd;
    border-radius: 3px;
    height: 35px;
}

.book{
    position: relative;
}

.book .form-name div{
    width: 100%;
}

.book .check{
    display: flex;
}

.book .check input{
    width: 25px;
    box-shadow: none;
    margin-top: 7px;
    background-color: transparent;
}
  

/* Book special css ends here */


@media screen and (max-width: 430px) {
    .eversion-container{
        background-color: #ddd;
        padding: 0;
        margin: 0;
    }

    .container-form{
        /* background-color: blue; */
        padding-top: 1rem;
        margin: 0;
    }

    .upload .container-form {
        top: 70%;
        flex-direction: column;
    }
}