.upload>.container-form {
    display: flex;
    flex-direction: column;
    top: 60%;
    width: 450px;
}

.upload label, .book label {
    display: block;
    text-align: left !important;
    margin: .9rem 0 0 2%;
    font-size: 14px;
    font-weight: bold;
}

.upload .form-name {
    margin: 1rem 0 0 0;
}

/* file upload component */

.file-upload {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.file-upload .upload-btn {
    margin-top: 8;
    border: 1px dashed blue;
    cursor: pointer;
    width: 100px;
    padding: 1.2rem;
}

.file-upload div {
    margin: 5px;
}

.file-upload img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

/* file upload component */

.upload .form-name div {
    margin: 0 1%;
    min-width: 48%;
}

.upload .form-name input {
    min-width: 100% !important;
    border: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Book special css starts here */
.book .container-form{
    /* background-color: red; */
    margin-top: 3rem;
    width: 800px;
}

.book .forms-info img{
    position: sticky;
    margin-right: .5rem;
    border-radius: 5px;
    width: 380px;
    height: 400px;
}

.book .forms {
    width: 100% ;
}

.book .form-name select{
    width: 100% ;
    border: none;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px #ddd;
    border-radius: 3px;
    height: 35px;
}

.book{
    position: relative;
}

.book .form-name div{
    width: 100%;
}


/* Book special css ends here */


@media screen and (max-width: 430px) {
    .upload .container-form {
        width: 320px;
        top: 70%;
        flex-direction: column;
    }
}